/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

.is-guest .only-admin {
  display: none;
}

.is-admin .only-guest {
  display: none;
}

button {
  cursor: pointer;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav a {
  color: #000000;
  text-decoration: none;
}

li:hover {
  color: #b1663c;
}

nav a:hover {
  color: #b1663c;
}

.edition {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

.edition {
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.edition button {
  border-radius: 20px;
  padding: 0.5em 1.3em;
  margin: 0.5em;
  border: 1px solid #1d6154;
  font-family: "Work Sans";
}

.title-nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.modif {
  border: none;
  background-color: transparent;
  font-family: "Work Sans";
  font-size: 14px;
}

figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: flex-start;
}

#portfolio h2 {
  text-align: center;
  margin: 1em;
}

.projet-modif {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.filters button {
  border-radius: 20px;
  padding: 0.5em 1.3em;
  margin: 0.5em;
  font-family: "Syne";
  font-size: 16px;
  color: #1d6154;
  border: 1px solid #1d6154;
}

.filters button:hover {
  background-color: #1d6154;
  color: #ffffff;
}

.filters .btn-actif {
  background-color: #1d6154;
  color: #ffffff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact,
#login {
  width: 50%;
  margin: auto;
}
#contact,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form,
#submitDiv form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#login input,
#submitDiv input,
select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label,
#myForm label {
  margin: 2em 0 1em 0;
}

#contact textarea,
#login textarea,
#submitDiv textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

/* LOGIN */

#login p {
  font-weight: 700;
}

.mdp-oubli {
  margin-top: 2em;
  text-align: center;
}

.mdp-oubli a {
  color: #000000;
}

.error {
  text-align: center;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* MODALE */

dialog {
  border-radius: 20px;
  border: transparent;
  width: 630px;
}

#galleryDiv,
#submitDiv {
  display: flex;
  flex-direction: column;
}

#galleryDiv h2,
#submitDiv h2 {
  font-family: "Work Sans";
  font-weight: 400;
  color: #000000;
}

#galleryCloseButton,
#submitCloseButton {
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-align: end;
}

/* PREMIERE MODALE */

.modal-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  padding: 0 95px;
}

.modal-gallery img {
  width: 80px;
  height: 110px;
}

.modal-gallery button {
  border: none;
  background-color: #000000;
  position: fixed;
  margin: -120px 0px 0px 60px;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 2px;
}

.modal-gallery i {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  font-size: 9px;
}

.galleryFlexButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-photo {
  border-radius: 20px;
  padding: 0.5em 1.3em;
  margin: 0.5em;
  font-family: "Syne";
  font-size: 16px;
  background-color: #1d6154;
  color: #ffffff;
  border: 1px solid #1d6154;
}

#delete-all {
  font-family: "Syne";
  color: #d65353;
  text-decoration: none;
  text-align: center;
  background: none;
  border: none;
}

/* DEUXIEME MODALE */

.submitFlexButtons {
  display: flex;
  justify-content: space-between;
}

#btn-modal-previous {
  background-color: transparent;
  border: none;
  font-size: 18px;
}

#myForm {
  padding: 0 95px;
}

#myForm .fa {
  background-color: #e8f1f6;
  color: #b9c5cc;
  font-size: 50px;
}

#image-label {
  background-color: #e8f1f6;
  position: relative;
  width: 100%;
  height: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#imgInp.my-file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  min-height: 170px;
}

#photo {
  max-width: 200px;
}

input#title,
input#category {
  width: 100%;
}
